:root 
{
     --primary-color: #007bff;
     --secondary-color: #ffffff;
     --bar-background: #4b5969;

     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
     color: var(--secondary-color);
     text-decoration: none;
}

a:visited 
{
     color : var(--secondary-color); 
}




.container
{
     background-color: var(--bar-background);
     height: 30;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap; 
}

.logo-container 
{
  height: 50px;
  display: inline-flex;
  align-items: center;
  vertical-align:top;
}

.logo-container div 
{
  height: 25%;
}

.container a {
     margin: 10px;
     padding: 5px;
     font-size: 20px;
     min-width: 0;
     flex:1;
     flex-shrink: 1;
}

.front-image
{
     width: 100%;
     height: 300px;
     border-top: 2px var(--primary-color);

     margin-bottom: 25px;
}

.front-image img
{
     width: 100%;
     height: 100%;
     object-fit: cover;
}