:root 
{
     --primary-color: #007bff;
     --secondary-color: #ffffff;
     --bar-background: #dd94f1;

     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a
{
     color: var(--secondary-color);
     text-decoration: none;
}

a:visited 
{
     color : var(--secondary-color); 
}

.parent
{

}


.container
{
     background-color: var(--bar-background);
     height: 30;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap; 
}

.container a {
     margin: 10px;
     padding: 5px;
     font-size: 20px;
     min-width: 0;
     flex:1;
     flex-shrink: 1;
}